"*":
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    softWrapAtPreferredLineLength: true
    invisibles: {}
  "exception-reporting":
    userId: "1ea9a853-d4ff-9c8d-a7d0-7176e680f622"
  welcome:
    showOnStartup: false
  "git-diff":
    showIconsInEditorGutter: true
  "atom-beautify":
    _analyticsUserId: "6a84b048-e107-45ce-905e-02758ba1c46f"
  linter:
    statusBar: "Show error if the cursor is in range"
  emmet: {}
  core:
    themes: [
      "atom-light-ui"
      "prairie-dawn-syntax"
    ]
    projectHome: "/Users/clayton/Documents"
".basic.html.text":
  editor:
    tabLength: 2
".litcoffee.source":
  editor:
    tabLength: 2
".json.source":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
".coffee.source":
  editor:
    tabLength: 2
".css.source":
  editor:
    tabLength: 2
